/* Header Styles */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Footer Styles */
footer {
    background-color: lightgrey;
    text-align: left;
}


.flex {
    display: flex;
    justify-content: space-evenly;
}

.ville {
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
}

.centre img {
    width: 60%; /* Ajustez la taille des images selon vos besoins */
}
